/* src/components/about/About.module.css */
.about {
    padding: var(--spacing-unit);
  }
  
  .introSection,
  .skillsSection,
  .experienceSection, .educationSection, .contactSection {
    margin-bottom: calc(var(--spacing-unit) * 2); /* Spacing between sections */
  }
  
  .experienceItem {
    margin-bottom: var(--spacing-unit);
  }
  
  /* Add more styles as needed */